In [168]:
import pandas as pd

In [169]:
# csv방법 pd.read_csv(파일명)
mpg_data = pd.read_csv('data/mpg.csv')

In [170]:
mpg_data

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [171]:
# 상단에 n개의 데이터를 보고싶은 경우
# .head() 기본값은 (미작성시) 5개

In [172]:
mpg_data.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl category
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [173]:
# 하단에 있는 데이터 n개 출력
# .tail() - 미작성시 기본값 5개
mpg_data.tail()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [174]:
# 데이터가 가지고 있는 정보를 출력하는 함수
# .info
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  category      234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

In [175]:
mpg_data.shape

(234, 11)

In [176]:
# 요약 통계
# .describe()
mpg_data.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

#### 간단한 insight
- 도시연비가 가장 낮은 차는 1갤런당 9마일
- 고속도로 연비가 가장 낮은차는 12마일

- 도시연비에서 연비가 가장 좋은차는 35마일
- 고속도로 연비가 가장 좋은 차는 44마일
- 도시연비의 경우 가장 낮은차와 가장 높은차의 차이는 약 4배

In [177]:
# 문자도 요약통계
mpg_data.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

### 변수명 바꾸기

In [178]:
# 기존데이터를 수정할땐 copy 추천
mpg_copy = mpg_data.copy()

In [179]:
mpg_copy

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [180]:
# rename()
mpg_copy = mpg_copy.rename(columns= {"manufacturer" : "제조사", "cyl": "실린더" , "cty" :"도시" , "hwy" : "고속도로" , "fl" : "연료"})
mpg_copy

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [181]:
# 도시와 고속도로의 연비를 구한 후에 평균
# 데이터 접근
# 1. 도시 접근
mpg_copy['도시']

# 2.고속도로 연비 접근
display(mpg_copy['고속도로'])

# 도시 + 고속도로 / 2
display((mpg_copy['도시'] + mpg_copy['고속도로'])/2)

0      29
1      29
2      31
3      30
4      26
       ..
229    28
230    29
231    26
232    26
233    26
Name: 고속도로, Length: 234, dtype: int64

0      23.5
1      25.0
2      25.5
3      25.5
4      21.0
       ...
229    23.5
230    25.0
231    21.0
232    22.0
233    21.5
Length: 234, dtype: float64

In [182]:
# loc, iloc 인덱싱 사용
mpg_copy.loc[0]

제조사             audi
model             a4
displ            1.8
year            1999
실린더                4
trans       auto(l5)
drv                f
도시                18
고속도로              29
연료                 p
category     compact
Name: 0, dtype: object

In [183]:
mpg_copy.iloc[0]

제조사             audi
model             a4
displ            1.8
year            1999
실린더                4
trans       auto(l5)
drv                f
도시                18
고속도로              29
연료                 p
category     compact
Name: 0, dtype: object

In [184]:
mpg_index = mpg_copy.set_index('제조사')
mpg_index

             model  displ  year  실린더       trans drv  도시  고속도로 연료 category
제조사
audi            a4    1.8  1999    4    auto(l5)   f  18    29  p  compact
audi            a4    1.8  1999    4  manual(m5)   f  21    29  p  compact
audi            a4    2.0  2008    4  manual(m6)   f  20    31  p  compact
audi            a4    2.0  2008    4    auto(av)   f  21    30  p  compact
audi            a4    2.8  1999    6    auto(l5)   f  16    26  p  compact
...            ...    ...   ...  ...         ...  ..  ..   ... ..      ...
volkswagen  passat    2.0  2008    4    auto(s6)   f  19    28  p  midsize
volkswagen  passat    2.0  2008    4  manual(m6)   f  21    29  p  midsize
volkswagen  passat    2.8  1999    6    auto(l5)   f  16    26  p  midsize
volkswagen  passat    2.8  1999    6  manual(m5)   f  18    26  p  midsize
volkswagen  passat    3.6  2008    6    auto(s6)   f  17    26  p  midsize

[234 rows x 10 columns]

In [185]:
mpg_index.iloc[0]

model             a4
displ            1.8
year            1999
실린더                4
trans       auto(l5)
drv                f
도시                18
고속도로              29
연료                 p
category     compact
Name: audi, dtype: object

In [186]:
mpg_index.loc['audi']

           model  displ  year  실린더       trans drv  도시  고속도로 연료 category
제조사
audi          a4    1.8  1999    4    auto(l5)   f  18    29  p  compact
audi          a4    1.8  1999    4  manual(m5)   f  21    29  p  compact
audi          a4    2.0  2008    4  manual(m6)   f  20    31  p  compact
audi          a4    2.0  2008    4    auto(av)   f  21    30  p  compact
audi          a4    2.8  1999    6    auto(l5)   f  16    26  p  compact
audi          a4    2.8  1999    6  manual(m5)   f  18    26  p  compact
audi          a4    3.1  2008    6    auto(av)   f  18    27  p  compact
audi  a4 quattro    1.8  1999    4  manual(m5)   4  18    26  p  compact
audi  a4 quattro    1.8  1999    4    auto(l5)   4  16    25  p  compact
audi  a4 quattro    2.0  2008    4  manual(m6)   4  20    28  p  compact
audi  a4 quattro    2.0  2008    4    auto(s6)   4  19    27  p  compact
audi  a4 quattro    2.8  1999    6    auto(l5)   4  15    25  p  compact
audi  a4 quattro    2.8  1999    6  manual(m5)   4  17    25  p  compact
audi  a4 quattro    3.1  2008    6    auto(s6)   4  17    25  p  compact
audi  a4 quattro    3.1  2008    6  manual(m6)   4  15    25  p  compact
audi  a6 quattro    2.8  1999    6    auto(l5)   4  15    24  p  midsize
audi  a6 quattro    3.1  2008    6    auto(s6)   4  17    25  p  midsize
audi  a6 quattro    4.2  2008    8    auto(s6)   4  16    23  p  midsize

In [187]:
# loc - 슬라이싱
mpg_index.loc['audi' : 'hyundai']

           model  displ  year  실린더       trans drv  도시  고속도로 연료    category
제조사
audi          a4    1.8  1999    4    auto(l5)   f  18    29  p     compact
audi          a4    1.8  1999    4  manual(m5)   f  21    29  p     compact
audi          a4    2.0  2008    4  manual(m6)   f  20    31  p     compact
audi          a4    2.0  2008    4    auto(av)   f  21    30  p     compact
audi          a4    2.8  1999    6    auto(l5)   f  16    26  p     compact
...          ...    ...   ...  ...         ...  ..  ..   ... ..         ...
hyundai  tiburon    2.0  2008    4  manual(m5)   f  20    28  r  subcompact
hyundai  tiburon    2.0  2008    4    auto(l4)   f  20    27  r  subcompact
hyundai  tiburon    2.7  2008    6    auto(l4)   f  17    24  r  subcompact
hyundai  tiburon    2.7  2008    6  manual(m6)   f  16    24  r  subcompact
hyundai  tiburon    2.7  2008    6  manual(m5)   f  17    24  r  subcompact

[122 rows x 10 columns]

In [188]:
mpg_index.loc['audi' : 'hyundai','고속도로']

제조사
audi       29
audi       29
audi       31
audi       30
audi       26
           ..
hyundai    28
hyundai    27
hyundai    24
hyundai    24
hyundai    24
Name: 고속도로, Length: 122, dtype: int64

In [189]:
mpg_index.loc['audi' : 'hyundai','고속도로':'고속도로']

         고속도로
제조사
audi       29
audi       29
audi       31
audi       30
audi       26
...       ...
hyundai    28
hyundai    27
hyundai    24
hyundai    24
hyundai    24

[122 rows x 1 columns]

In [190]:
mpg_index.iloc[0:10]

           model  displ  year  실린더       trans drv  도시  고속도로 연료 category
제조사
audi          a4    1.8  1999    4    auto(l5)   f  18    29  p  compact
audi          a4    1.8  1999    4  manual(m5)   f  21    29  p  compact
audi          a4    2.0  2008    4  manual(m6)   f  20    31  p  compact
audi          a4    2.0  2008    4    auto(av)   f  21    30  p  compact
audi          a4    2.8  1999    6    auto(l5)   f  16    26  p  compact
audi          a4    2.8  1999    6  manual(m5)   f  18    26  p  compact
audi          a4    3.1  2008    6    auto(av)   f  18    27  p  compact
audi  a4 quattro    1.8  1999    4  manual(m5)   4  18    26  p  compact
audi  a4 quattro    1.8  1999    4    auto(l5)   4  16    25  p  compact
audi  a4 quattro    2.0  2008    4  manual(m6)   4  20    28  p  compact

### 불리언 인덱싱

In [191]:
mpg_copy[mpg_copy['도시']>20]

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
165,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
179,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize

In [192]:
# 제조사만 보고 싶은경우
mpg_copy[mpg_copy['도시']>20]['제조사']

1            audi
3            audi
33      chevrolet
99          honda
100         honda
101         honda
102         honda
103         honda
104         honda
105         honda
106         honda
107         honda
110       hyundai
111       hyundai
141        nissan
143        nissan
144        nissan
165        subaru
179        toyota
180        toyota
181        toyota
182        toyota
186        toyota
187        toyota
188        toyota
189        toyota
193        toyota
194        toyota
195        toyota
196        toyota
197        toyota
207    volkswagen
209    volkswagen
210    volkswagen
212    volkswagen
213    volkswagen
215    volkswagen
216    volkswagen
217    volkswagen
218    volkswagen
221    volkswagen
222    volkswagen
223    volkswagen
227    volkswagen
230    volkswagen
Name: 제조사, dtype: object

In [193]:
# query함수
mpg_copy.query('도시 > 20')

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
33,chevrolet,malibu,2.4,2008,4,auto(l4),f,22,30,r,midsize
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
100,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
102,honda,civic,1.6,1999,4,manual(m5),f,23,29,p,subcompact
103,honda,civic,1.6,1999,4,auto(l4),f,24,32,r,subcompact
104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
105,honda,civic,1.8,2008,4,auto(l5),f,25,36,r,subcompact
106,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact
107,honda,civic,2.0,2008,4,manual(m6),f,21,29,p,subcompact
110,hyundai,sonata,2.4,2008,4,auto(l4),f,21,30,r,midsize
111,hyundai,sonata,2.4,2008,4,manual(m5),f,21,31,r,midsize
141,nissan,altima,2.4,1999,4,manual(m5),f,21,29,r,compact
143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
144,nissan,altima,2.5,2008,4,manual(m6),f,23,32,r,midsize
165,subaru,impreza awd,2.2,1999,4,auto(l4),4,21,26,r,subcompact
179,toyota,camry,2.2,1999,4,manual(m5),f,21,29,r,midsize
180,toyota,camry,2.2,1999,4,auto(l4),f,21,27,r,midsize
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
182,toyota,camry,2.4,2008,4,auto(l5),f,21,31,r,midsize
186,toyota,camry solara,2.2,1999,4,auto(l4),f,21,27,r,compact
187,toyota,camry solara,2.2,1999,4,manual(m5),f,21,29,r,compact
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact
193,toyota,corolla,1.8,1999,4,auto(l3),f,24,30,r,compact
194,toyota,corolla,1.8,1999,4,auto(l4),f,24,33,r,compact
195,toyota,corolla,1.8,1999,4,manual(m5),f,26,35,r,compact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
207,volkswagen,gti,2.0,1999,4,manual(m5),f,21,29,r,compact
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
213,volkswagen,jetta,2.0,1999,4,manual(m5),f,21,29,r,compact
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
223,volkswagen,new beetle,2.0,1999,4,manual(m5),f,21,29,r,subcompact
227,volkswagen,passat,1.8,1999,4,manual(m5),f,21,29,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize

### 파생변수 만들기
- 컬럼 추가
- 데이터명['새로운 컬러명'] = 데이터 대입

In [194]:
mpg_mean = (mpg_copy['도시'] + mpg_copy['고속도로']) / 2
mpg_mean

0      23.5
1      25.0
2      25.5
3      25.5
4      21.0
       ...
229    23.5
230    25.0
231    21.0
232    22.0
233    21.5
Length: 234, dtype: float64

In [195]:
mpg_copy['평균'] = mpg_mean

In [196]:
mpg_copy

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5

In [197]:
mpg_copy['평균']

0      23.5
1      25.0
2      25.5
3      25.5
4      21.0
       ...
229    23.5
230    25.0
231    21.0
232    22.0
233    21.5
Name: 평균, Length: 234, dtype: float64

In [198]:
mpg_copy['평균'].mean()

20.14957264957265

In [199]:
# 조건에 따라 다른 값을 부여하는 파생변수를 만들어 컬럼 추가
# 평균연비가 20 이상이면 통과(pass) 아니면 fail 작성된 컬럼을 추가
# numpy에 있는 where 함수
import numpy as np

In [200]:
# where() 함수 사용법
# where(조건식, True일때, False일때)

mpg_copy['test 결과'] = np.where(mpg_copy['평균']>20,'pass','fail')
mpg_copy

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass
...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass

In [201]:
# 값을 세주는 함수
# value_counts()
mpg_copy['test 결과'].value_counts()

test 결과
pass    123
fail    111
Name: count, dtype: int64

### 컬럼 -- grade (등급)
- 평균값이 25이상이면 A등급
- 20이상 B등급
- 그 외 C등급

In [202]:
mpg_grade = np.where(mpg_copy['평균'] >= 25, 'A등급', 
                     np.where(mpg_copy['평균']>=20, 'B등급','C등급'))

In [203]:
mpg_copy['grade'] = mpg_grade
mpg_copy

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과,grade
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass,B등급
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass,A등급
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass,A등급
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass,A등급
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass,B등급
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass,B등급
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass,A등급
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass,B등급
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass,B등급
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass,B등급

In [204]:
mpg_copy['grade'].value_counts()

grade
C등급    106
B등급     85
A등급     43
Name: count, dtype: int64

## apply()라는 함수
- np.where의 조건식 복잡해지는 것을 간단하게 작성 할 수 있도록 하는 함수

In [205]:
# apply() 사용법

# 매개변수가 함수
# 함수를 만들어서 함수명만 작성 해주시면 됩니다.
def makeGrade(df): # 함수 실행시 조건이 될 시리즈가 필요! 매개변수로 df 작성
    grade = df['평균']
    
    if grade >= 25:
        return "A등급"
    elif grade >= 20:
        return "B등급"
    elif grade >= 15:
        return "C등급"
    else:
        return "F등급"

- axis = 0(행) or 1(열, 축)

In [206]:
# apply()
mpg_copy["grade2"] = mpg_copy.apply(makeGrade, axis=1)
mpg_copy

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과,grade,grade2
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass,B등급,B등급
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass,A등급,A등급
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass,A등급,A등급
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass,A등급,A등급
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass,B등급,B등급
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass,B등급,B등급
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass,A등급,A등급
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass,B등급,B등급
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass,B등급,B등급
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass,B등급,B등급

In [207]:
mpg_copy['grade2'].value_counts().sort_index()

grade2
A등급    43
B등급    85
C등급    76
F등급    30
Name: count, dtype: int64

### 불리언 인덱싱

In [208]:
#displ(배기량)이 4이하인 자동차와 5이상인 자동차중 고속도로 연비가 더 높은 차종 알아보기
mpg_4displ = mpg_copy[mpg_copy['displ']<=4]
mpg_4displ

# displ이 4이하인 자동차 구하기 - query 한수 사용해서
mpg_4 = mpg_copy.query("displ <= 4")
mpg_4

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과,grade,grade2
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass,B등급,B등급
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass,A등급,A등급
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass,A등급,A등급
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass,A등급,A등급
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass,B등급,B등급
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass,B등급,B등급
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass,A등급,A등급
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass,B등급,B등급
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass,B등급,B등급
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass,B등급,B등급

In [209]:
# 배기량이 5이상인 자동차 구하기 - query함수 사용
mpg_5 = mpg_copy.query('displ >= 5')
mpg_5

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과,grade,grade2
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,17.0,fail,C등급,C등급
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,13.0,fail,C등급,F등급
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv,17.0,fail,C등급,C등급
21,chevrolet,c1500 suburban 2wd,5.7,1999,8,auto(l4),r,13,17,r,suv,15.0,fail,C등급,C등급
22,chevrolet,c1500 suburban 2wd,6.0,2008,8,auto(l4),r,12,17,r,suv,14.5,fail,C등급,F등급
23,chevrolet,corvette,5.7,1999,8,manual(m6),r,16,26,p,2seater,21.0,pass,B등급,B등급
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater,19.0,fail,C등급,C등급
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,21.0,pass,B등급,B등급
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,20.0,fail,B등급,B등급
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,19.5,fail,C등급,C등급
28,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,14,19,r,suv,16.5,fail,C등급,C등급
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,12.5,fail,C등급,F등급
30,chevrolet,k1500 tahoe 4wd,5.7,1999,8,auto(l4),4,11,15,r,suv,13.0,fail,C등급,F등급
31,chevrolet,k1500 tahoe 4wd,6.5,1999,8,auto(l4),4,14,17,d,suv,15.5,fail,C등급,C등급
55,dodge,dakota pickup 4wd,5.2,1999,8,manual(m5),4,11,17,r,pickup,14.0,fail,C등급,F등급
56,dodge,dakota pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,13.0,fail,C등급,F등급
61,dodge,durango 4wd,5.2,1999,8,auto(l4),4,11,16,r,suv,13.5,fail,C등급,F등급
62,dodge,durango 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,15.5,fail,C등급,C등급
63,dodge,durango 4wd,5.9,1999,8,auto(l4),4,11,15,r,suv,13.0,fail,C등급,F등급
70,dodge,ram 1500 pickup 4wd,5.2,1999,8,auto(l4),4,11,15,r,pickup,13.0,fail,C등급,F등급
71,dodge,ram 1500 pickup 4wd,5.2,1999,8,manual(m5),4,11,16,r,pickup,13.5,fail,C등급,F등급
72,dodge,ram 1500 pickup 4wd,5.7,2008,8,auto(l5),4,13,17,r,pickup,15.0,fail,C등급,C등급
73,dodge,ram 1500 pickup 4wd,5.9,1999,8,auto(l4),4,11,15,r,pickup,13.0,fail,C등급,F등급
75,ford,expedition 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0,fail,C등급,F등급
76,ford,expedition 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,15.0,fail,C등급,C등급
82,ford,explorer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0,fail,C등급,C등급
88,ford,f150 pickup 4wd,5.4,1999,8,auto(l4),4,11,15,r,pickup,13.0,fail,C등급,F등급
89,ford,f150 pickup 4wd,5.4,2008,8,auto(l4),4,13,17,r,pickup,15.0,fail,C등급,C등급
98,ford,mustang,5.4,2008,8,manual(m6),r,14,20,p,subcompact,17.0,fail,C등급,C등급
128,jeep,grand cherokee 4wd,5.7,2008,8,auto(l5),4,13,18,r,suv,15.5,fail,C등급,C등급
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,12.5,fail,C등급,F등급
134,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,17,r,suv,14.0,fail,C등급,F등급
135,lincoln,navigator 2wd,5.4,1999,8,auto(l4),r,11,16,p,suv,13.5,fail,C등급,F등급
136,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv,15.0,fail,C등급,C등급
140,mercury,mountaineer 4wd,5.0,1999,8,auto(l4),4,13,17,r,suv,15.0,fail,C등급,C등급
153,nissan,pathfinder 4wd,5.6,2008,8,auto(s5),4,12,18,p,suv,15.0,fail,C등급,C등급
158,pontiac,grand prix,5.3,2008,8,auto(s4),f,16,25,p,midsize,20.5,pass,B등급,B등급
199,toyota,land cruiser wagon 4wd,5.7,2008,8,auto(s6),4,13,18,r,suv,15.5,fail,C등급,C등급

In [210]:
mpg_4['고속도로'].mean()

25.96319018404908

In [211]:
mpg_5['고속도로'].mean()

18.07894736842105

In [212]:
# 아우디와 도요타 중 어느 제조회사의 도시연비 평균이 더 높은가?
mpg_audi = mpg_copy.query('제조사 == "audi"')
mpg_doyota = mpg_copy.query('제조사 == "toyota"')

In [213]:
mpg_audi['도시'].mean()

17.61111111111111

In [214]:
mpg_doyota['도시'].mean()

18.529411764705884

In [215]:
# 쉐보레 포드 혼다 자동차 고속도로 연비 평균
mpg_chevrolet = mpg_copy.query('제조사 == "chevrolet"')
mpg_ford = mpg_copy.query('제조사 == "ford"')
mpg_honda = mpg_copy.query('제조사 == "honda"')

In [216]:
mpg_chevrolet['고속도로'].mean()

21.894736842105264

In [217]:
mpg_ford['고속도로'].mean()

19.36

In [218]:
mpg_honda['고속도로'].mean()

32.55555555555556

In [219]:
mpg_cfh = mpg_copy.query('제조사 == "chevrolet" or 제조사 == "ford" or 제조사 == "honda"')

In [220]:
mpg_cfh['고속도로'].mean()

22.50943396226415

# 집단별(그룹별) 요약통계 확인
- group by , agg
- 보통 같이 사용

- group by

In [221]:
# group by("그룹화할 대상")
grouped_data = mpg_copy.groupby('제조사').mean()

TypeError: Could not convert a4a4a4a4a4a4a4a4 quattroa4 quattroa4 quattroa4 quattroa4 quattroa4 quattroa4 quattroa4 quattroa6 quattroa6 quattroa6 quattro to numeric

In [ ]:
# agg() - 다중집계작업
# agg(결과이름 = (컬럼명, 통계함수)) -- 컬럼명과 통계함수는 모두 문자열
# sum, mean, max, min, count

In [222]:
# 제조사별 도시연비 평균
mpg_copy.groupby('제조사').agg(city_mean=('도시','mean'))

            city_mean
제조사
audi        17.611111
chevrolet   15.000000
dodge       13.135135
ford        14.000000
honda       24.444444
hyundai     18.642857
jeep        13.500000
land rover  11.500000
lincoln     11.333333
mercury     13.250000
nissan      18.076923
pontiac     17.000000
subaru      19.285714
toyota      18.529412
volkswagen  20.925926

In [223]:
mpg_copy.groupby('제조사').agg(city_max=('도시','max'))

            city_max
제조사
audi              21
chevrolet         22
dodge             18
ford              18
honda             28
hyundai           21
jeep              17
land rover        12
lincoln           12
mercury           14
nissan            23
pontiac           18
subaru            21
toyota            28
volkswagen        35

In [224]:
mpg_copy.groupby('제조사').agg(city_min=('도시','min'))

            city_min
제조사
audi              15
chevrolet         11
dodge              9
ford              11
honda             21
hyundai           16
jeep               9
land rover        11
lincoln           11
mercury           13
nissan            12
pontiac           16
subaru            18
toyota            11
volkswagen        16

In [225]:
mpg_copy.groupby('제조사').agg(city_count=('도시','count'))

            city_count
제조사
audi                18
chevrolet           19
dodge               37
ford                25
honda                9
hyundai             14
jeep                 8
land rover           4
lincoln              3
mercury              4
nissan              13
pontiac              5
subaru              14
toyota              34
volkswagen          27

In [226]:
# 여러개 사용도 가능! - agg 사용해서
# 도시평균, 고속도로평균

# groupby로 제조사별로 묶기
# agg사용
mpg_copy.groupby('제조사').agg(city_mean = ('도시','mean'), high_mean = ('고속도로','mean'))

            city_mean  high_mean
제조사
audi        17.611111  26.444444
chevrolet   15.000000  21.894737
dodge       13.135135  17.945946
ford        14.000000  19.360000
honda       24.444444  32.555556
hyundai     18.642857  26.857143
jeep        13.500000  17.625000
land rover  11.500000  16.500000
lincoln     11.333333  17.000000
mercury     13.250000  18.000000
nissan      18.076923  24.615385
pontiac     17.000000  26.400000
subaru      19.285714  25.571429
toyota      18.529412  24.911765
volkswagen  20.925926  29.222222

In [227]:
# 카테고리별 도시연비
# 카테고리 조사
mpg_copy['category'].value_counts()

category
suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: count, dtype: int64

In [228]:
# 카테고리별로 groupby
# 도시 연비 평균
mpg_copy.groupby('category').agg(city_mean = ('도시','mean'))

            city_mean
category
2seater     15.400000
compact     20.127660
midsize     18.756098
minivan     15.818182
pickup      13.000000
subcompact  20.371429
suv         13.500000

In [229]:
# 해당 곃과값 정렬
# error! -> 'by' argument
# by - 어떤 컬럼을 바탕으로 
mpg_copy.groupby('category').agg(city_mean = ('도시','mean')).sort_values(by = 'city_mean', ascending=False)

            city_mean
category
subcompact  20.371429
compact     20.127660
midsize     18.756098
minivan     15.818182
2seater     15.400000
suv         13.500000
pickup      13.000000

In [230]:
# 제조사 별로 그룹을 묶은 후
# 제조사 별 등급(grade컬럼)을 나누기
# 예- audi A등급, B등급이 몇개인가?

# 그룹을 다시 나눌땐
# groupby시 [] 한번 더 감싸서 진행!
mpg_copy.groupby(['제조사','grade']).agg(grade_cnt = ('grade', 'count'))

                  grade_cnt
제조사        grade
audi       A등급            3
           B등급           13
           C등급            2
chevrolet  A등급            1
           B등급            7
           C등급           11
dodge      B등급            4
           C등급           33
ford       B등급            4
           C등급           21
honda      A등급            9
hyundai    A등급            2
           B등급           12
jeep       C등급            8
land rover C등급            4
lincoln    C등급            3
mercury    C등급            4
nissan     A등급            3
           B등급            6
           C등급            4
pontiac    B등급            5
subaru     B등급           14
toyota     A등급           11
           B등급            8
           C등급           15
volkswagen A등급           14
           B등급           12
           C등급            1

# merge(가로로 합치기)

In [231]:
mpg_copy['제조사'].unique()

array(['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep',
       'land rover', 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru',
       'toyota', 'volkswagen'], dtype=object)

In [239]:
contry = pd.DataFrame({'제조사' : ['audi', 'chevrolet', 'dodge', 'ford', 'honda', 'hyundai', 'jeep','land rover'
                                         , 'lincoln', 'mercury', 'nissan', 'pontiac', 'subaru','toyota', 'volkswagen'],
                      'contry' : ['독일','미국','미국','미국','일본','한국','미국','영국','미국','미국','일본','미국','일본','일본','독일']})

In [233]:
contry

   manufacturer contry
0          audi     독일
1     chevrolet     미국
2         dodge     미국
3          ford     미국
4         honda     일본
5       hyundai     한국
6          jeep     미국
7    land rover     영국
8       lincoln     미국
9       mercury     미국
10       nissan     일본
11      pontiac     미국
12       subaru     일본
13       toyota     일본
14   volkswagen     독일

In [235]:
mpg_copy

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과,grade,grade2
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass,B등급,B등급
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass,A등급,A등급
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass,A등급,A등급
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass,A등급,A등급
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass,B등급,B등급
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass,B등급,B등급
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass,A등급,A등급
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass,B등급,B등급
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass,B등급,B등급
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass,B등급,B등급

In [240]:
mpg_c = pd.merge(mpg_copy, contry, how='left', on='제조사')
mpg_c

,제조사,model,displ,year,실린더,trans,drv,도시,고속도로,연료,category,평균,test 결과,grade,grade2,contry
0,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,23.5,pass,B등급,B등급,독일
1,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,25.0,pass,A등급,A등급,독일
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,25.5,pass,A등급,A등급,독일
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,25.5,pass,A등급,A등급,독일
4,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,21.0,pass,B등급,B등급,독일
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,23.5,pass,B등급,B등급,독일
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,25.0,pass,A등급,A등급,독일
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,21.0,pass,B등급,B등급,독일
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,22.0,pass,B등급,B등급,독일
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,21.5,pass,B등급,B등급,독일

In [ ]:
# pd.merge()

# db - join inner, outer - left right

# how
# left = df1이 기준
# right = df2가 기준
# outer - 데이터를 모두 합치는데 만약에 df1이나 df2와 일치하지 않는 데이터가 존재 시
#       ㄴ nan값이 들어가게 됨
# test3로 확인

# inner - 교집합 부분만 표시 (일치하지 않는 데이터는 merge X)

# on - 기준이 될 컬럼
# pd.merge(df1, df2, how = '')

In [236]:
test1 = pd.DataFrame({'id':[1,2,3,4,5,6],'midterm':[60,80,70,90,85,80]})
test2 = pd.DataFrame({'id':[1,2,3,4,5],'final':[70,83,65,95,80]})

In [237]:
test3 = pd.merge(test1, test2, how = 'outer', on='id')
test3

   id  midterm  final
0   1       60   70.0
1   2       80   83.0
2   3       70   65.0
3   4       90   95.0
4   5       85   80.0
5   6       80    NaN

In [238]:
test4 = pd.merge(test1, test2, how = 'inner', on='id')
test4

   id  midterm  final
0   1       60     70
1   2       80     83
2   3       70     65
3   4       90     95
4   5       85     80